{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.samsCharacterName) }}
    {{ form_row(form.isMainCharacter) }}
    {{ form_row(form.isMainCharacter) }}
    {{ form_row(form.rating) }}
    {{ form_row(form.releaseAt) }}
    <button type="submit" class="btn btn-primary">Save</button>
{{ form_end(form) }}